<script>
    function toggleFilter() {
        const filterform = document.getElementById("filterform<%= tableid %>")
        if (filterform.hasAttribute("hidden")) {
            filterform.removeAttribute("hidden")
        }
        else{
            filterform.setAttribute("hidden", true);
        }
    }


    // $("#textfil<%= tableid %>").on('change keyup paste', function () {
    //     filterTable();
    // });)
    setInterval(function() { filterTable(); }, 100);
    function filterTable() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("textfil<%= tableid %>")
        filter = input.value.toUpperCase();
        table = document.getElementById("<%= tableid %>").getElementsByTagName("tbody")[0];
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            tds = tr[i].getElementsByTagName("td");
            let displaythis = false
            for (let td of tds) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    displaythis = true
                    break
                } 
            }
            if (displaythis) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }            
    }
    function button_wrapper(key){
        <%= tableid %>button_onclick(key)
    }
</script>
<div class="container">
  <div style="visibility: <%= visible %>;" dir="rtl">
        <button type="button" class="btn mr-auto filter-btn" onclick="toggleFilter()">
            סינון <i class="fas fa-filter"></i>
        </button>
        <div id="filterform<%= tableid %>" class="form-group" style="text-align:left" hidden>
            <label for="textfil<%= tableid %>"><b>הכנס טקסט:</b></label>
            <input type="text" class="form-control" id="textfil<%= tableid %>" style="width:20%;display:inline;">
        </div>
  </div>
  <div class="responsive-table" dir="rtl">
    <table dir="rtl" class="table table-bordered table-condensed" id="<%= tableid %>" style="text-align:center;">
      <thead>
        <tr>
        <% if (radio) { %>
        <th key="radio<%= tableid %>" width="5%"></th>
        <%}%>
        <% for (let elem of headers) { %>
          <th key="<%=elem[1]%>" scope="col"><%= elem[0] %></th>
        <%}%>
        <% if (button) { %>
        <th key="edit<%= tableid %>" width="10%"></th>
        <%}%>
        </tr>
      </thead>
      <% for (let data_item of data) { %>
      <tr key="<%=data_item.id%>">
        <% if (radio) { %>
        <td>
        <input type="radio" name="<%= tableid %>radio" key="radio<%= tableid %>" width="5%" value="<%= data_item.id %>" required>
        </td>
        <%}%>
        <% for (let elem of headers) { %>
        <td key="<%=elem[1]%>">
         <%= data_item[elem[1]] %>
        </td>
        <%}%>
        <% if (button) { %>
        <td key="edit<%= tableid %>">
         <button class="btn btn-info btn-sm" onclick="button_wrapper(<%= data_item.id %>)"><%= button_text %></button>
        </td>
        <%}%>
      </tr>
      <%}%>
      <% if (data.length === 0) { %>
            <tr>
                <td colspan="<%=headers.length +1 %>">אין תוצאות</td>
            </tr>
        <%}%>
    </table>
  </div>
</div>